@import '../../stylesheets/mixins';

.assets-list {
    @media only screen and (min-width: 768px) {
        margin: 10rem;
        .asset {
            justify-content: center;
        }
    }
    margin: 1rem;
    padding: 0;
    .asset {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid beige;
        list-style-type: none;

        .symbol-info {
            display: flex;
            .symbol-icon {
                padding: 1rem 1rem 1rem 0;
            }
            .symbol-name-description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                .symbol-name {
                    opacity: 0.3;
                }
            }
        }
        .symbol-price-change {
            display: flex;
            align-items: center;
            justify-content: right;
            .percentage {
                margin-left: 4px;
            }
        }
    }
}

.up-arrow,
.down-arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid red;
}
.up-arrow {
    @include rotate(180deg);
    border-top-color: green;
}
